/* Style w src/app/app.component.css */

.main-layout {
  display: flex; /* Włącza Flexbox dla tego kontenera */
  /* Opcjonalnie: Ustaw minimalną wysokość, aby stopka była na dole,
     trzeba dostosować wartość np. odejmując wysokość headera i footera */
   /*min-height: calc(100vh - wysokość_headera - wysokość_footera);*/

}



app-sidebar {
  width: 200px; /* Ustaw stałą szerokość dla paska bocznego */
  flex-shrink: 0; /* Zapobiega kurczeniu się paska, gdy brakuje miejsca */
  background-color: #f3f3f3; /* Przykładowy kolor tła dla paska */
  padding: 15px; /* Przykładowy wewnętrzny margines */
  border-radius: 20px;
}

main {
  flex-grow: 1; /* Główna treść rozciągnie się, aby wypełnić pozostałą przestrzeń */
  padding: 15px; /* Przykładowy wewnętrzny margines */
  /* Możesz dodać inne style dla głównej treści */
}

/* Opcjonalnie: Możesz dodać style dla app-header i app-footer */
app-header, app-footer {
  padding: 10px;

}
